<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>saya fauzi azhari asri</p>
        <p>saat ini sedang belajar express js</p>
        <p>ini adalah blog crud</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>